# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
dist/
build/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
dmypy.json

# Environment
.env

# Project
config.yaml
logs/
output/
testing/
audio.mp3
pre-code.py
openWakeWord/

# Models
models/TTS-CORI-EN
models/TTS-KAREEM-ARABIC
models/whisper-medium
models/MedGemma
